@font-face {
  font-family: "shabnam";
  src: url(../fonts/Shabnam.ttf);
  font-display: swap;
}

body {
  font-family: "shabnam";
  overflow-x: hidden;
}

.Toastify__toast-body {
  font-family: "shabnam";
  direction: rtl;
}

@media screen and (max-width: 991px) {
  span.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1.MuiTypography-displayBlock {
    font-size: 10px;
  }
}
