@font-face {
  font-family: "shabnam";
  src: url(../fonts/Shabnam.ttf);
  font-display: swap;
}

body {
  font-family: "shabnam";
  overflow-x: hidden;
}

.Toastify__toast-body {
  font-family: "shabnam";
  direction: rtl;
}

label#demo-mutiple-checkbox-label {
  background-color: rgb(240, 240, 240);
}
